body {
  font-family: Arial;
  text-align: center;
  background-color: #eaeaea;
}

h1 {
  color: #333;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
